@import 'config';

:host {
  .tabs {
    & {
      display: flex;
    }

    &__tab {
      & {
        color: $font-disable;
        cursor: pointer;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        flex-wrap: wrap;
        border-bottom: 2px solid $def-background;
      }

      &--active {
        color: $pubg-font-nav;
        border-bottom-color: $pubg-font-nav;
      }

      &__text {
        padding: 5px 10px;
        text-align: center;
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &--large {
      .tabs {
        &__tab {
          & {
            padding: 15px 0;
          }

          &--active {
            background-color: $pubg-main;
            color: $def-fonts;
          }
        }
      }
    }
  }
}
