$cubic-bezier: cubic-bezier(0.37, 0.01, 0.28, 0.98);
$border-radius: 7px;

$def-fonts: #ffffff;
$def-background: #000000;
$pubg-main: #ffc107;
$pubg-font-nav: #f2a900;
$font-disable: #adadad;
$pubg-light-grey: #b9cfcf;
$pubg-dark-grey: #1e3333;
$pubg-grey: #99c8c9;
$pubg-grey-trans: rgba(153, 166, 166, 0.3);
$error: #a80000;
$success: #6ab352;
