@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700,800&display=swap&subset=hebrew');

@font-face {
  font-family: 'Headline One';
  src: url('../../assets/fonts/HeadlineOneHPLHS.eot');
  src: url('../../assets/fonts/HeadlineOneHPLHS.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/HeadlineOneHPLHS.woff2') format('woff2'),
    url('../../assets/fonts/HeadlineOneHPLHS.woff') format('woff'),
    url('../../assets/fonts/HeadlineOneHPLHS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
