@import "config";


:host {
  & {
  }

  .action-menu {
    & {
      overflow: hidden;
      padding: 10px 5px;
      @include pubg-font(16, reular);
    }

    &__wrapper {
      & {
        width: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
      }

      &--short {
        max-height: 220px;
      }

      &--long {
        max-height: 400px;
      }

      &__title {
        @include pubg-font(16, semi-bold);
        padding: 10px 6px;
      }
    }
  }
}
