@import 'config';

:host {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  .login {
    padding: 15px;
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;

    &__header {
      display: flex;
      justify-content: center;
      align-content: center;
      min-height: 110px;
      padding-bottom: 20px;

      &__logo,
      &__pubg {
        flex: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &__logo {
        background-image: url('/assets/images/logo.png');
      }

      &__pubg {
        background-image: url('/assets/images/pubg.png');
      }
    }

    &__main {
      border: 1px solid $pubg-main;
      display: flex;
      flex-direction: column;
      border-radius: $border-radius;
      flex: 1;

      &__tabs {
        font-family: 'Headline One', sans-serif;
        letter-spacing: 1px;
        @include pubg-font(50, regular);
      }

      &__container {
        flex: 1;
        padding: 10px;
        @include pubg-font(16, bold);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;

        &__form {
          flex: 1;
          display: flex;
          flex-direction: column;
          overflow: auto;
          height: 100%;
          max-width: 750px;
          width: 100%;
        }
      }
    }
  }
}
