<div class="login">
  <div class="login__header">
    <div class="login__header__pubg"></div>
    <div class="login__header__logo"></div>
  </div>
  <div class="login__main">
    <div class="login__main__tabs">
      <pubg-tabs [tabsData]="tabs" [large]="true" (selectedTab)="changeTab($event)"></pubg-tabs>
    </div>
    <div class="login__main__container">
      <div class="login__main__container__form">
        <form [formGroup]="formGroup">
          <dynamic-primeng-form [group]="formGroup" [layout]="formLayout" [model]="formModel"></dynamic-primeng-form>
        </form>
        <div class="login__main__container__form__footer">
          <p-button label="Submit" (click)="submit(formGroup)"></p-button>
          <p-button label="clear" styleClass="p-button-link"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
