<div class="login">
  <div class="login__header">
    <div class="login__header__pubg"></div>
    <div class="login__header__logo"></div>
  </div>
  <!--  <div class="login__title">Login / Sign in</div>-->
  <div class="login__main">
    <div class="login__main__tabs">
      <pubg-tabs [tabsData]="tabs" [large]="true" (selectedTab)="changeTab($event)"></pubg-tabs>
    </div>
    <div class="login__main__container">
      <div class="login__main__container__form">
        <pubg-form
          [inputConfig]="selectedTab.action === 'login' ? configLogin : configSignUp"
          (formSubmit)="submit($event)"
          (formValueChanges)="formValueChanges($event)"
        ></pubg-form>
      </div>
    </div>
  </div>
</div>
