// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-1413261-name: 'icon-1413261';
$icon-1413261-x: 0px;
$icon-1413261-y: 0px;
$icon-1413261-offset-x: 0px;
$icon-1413261-offset-y: 0px;
$icon-1413261-width: 200px;
$icon-1413261-height: 200px;
$icon-1413261-total-width: 2200px;
$icon-1413261-total-height: 2200px;
$icon-1413261-image: 'client/assets/images/sprite.png';
$icon-1413261: (0px, 0px, 0px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-1413261', );
$icon-1413271-name: 'icon-1413271';
$icon-1413271-x: 200px;
$icon-1413271-y: 0px;
$icon-1413271-offset-x: -200px;
$icon-1413271-offset-y: 0px;
$icon-1413271-width: 200px;
$icon-1413271-height: 200px;
$icon-1413271-total-width: 2200px;
$icon-1413271-total-height: 2200px;
$icon-1413271-image: 'client/assets/images/sprite.png';
$icon-1413271: (200px, 0px, -200px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-1413271', );
$icon-2208-name: 'icon-2208';
$icon-2208-x: 0px;
$icon-2208-y: 200px;
$icon-2208-offset-x: 0px;
$icon-2208-offset-y: -200px;
$icon-2208-width: 200px;
$icon-2208-height: 200px;
$icon-2208-total-width: 2200px;
$icon-2208-total-height: 2200px;
$icon-2208-image: 'client/assets/images/sprite.png';
$icon-2208: (0px, 200px, 0px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-2208', );
$icon-43018333-name: 'icon-43018333';
$icon-43018333-x: 200px;
$icon-43018333-y: 200px;
$icon-43018333-offset-x: -200px;
$icon-43018333-offset-y: -200px;
$icon-43018333-width: 200px;
$icon-43018333-height: 200px;
$icon-43018333-total-width: 2200px;
$icon-43018333-total-height: 2200px;
$icon-43018333-image: 'client/assets/images/sprite.png';
$icon-43018333: (200px, 200px, -200px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43018333', );
$icon-43036956-name: 'icon-43036956';
$icon-43036956-x: 400px;
$icon-43036956-y: 0px;
$icon-43036956-offset-x: -400px;
$icon-43036956-offset-y: 0px;
$icon-43036956-width: 200px;
$icon-43036956-height: 200px;
$icon-43036956-total-width: 2200px;
$icon-43036956-total-height: 2200px;
$icon-43036956-image: 'client/assets/images/sprite.png';
$icon-43036956: (400px, 0px, -400px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43036956', );
$icon-43048158-name: 'icon-43048158';
$icon-43048158-x: 400px;
$icon-43048158-y: 200px;
$icon-43048158-offset-x: -400px;
$icon-43048158-offset-y: -200px;
$icon-43048158-width: 200px;
$icon-43048158-height: 200px;
$icon-43048158-total-width: 2200px;
$icon-43048158-total-height: 2200px;
$icon-43048158-image: 'client/assets/images/sprite.png';
$icon-43048158: (400px, 200px, -400px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43048158', );
$icon-43058680-name: 'icon-43058680';
$icon-43058680-x: 0px;
$icon-43058680-y: 400px;
$icon-43058680-offset-x: 0px;
$icon-43058680-offset-y: -400px;
$icon-43058680-width: 200px;
$icon-43058680-height: 200px;
$icon-43058680-total-width: 2200px;
$icon-43058680-total-height: 2200px;
$icon-43058680-image: 'client/assets/images/sprite.png';
$icon-43058680: (0px, 400px, 0px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43058680', );
$icon-43065116-name: 'icon-43065116';
$icon-43065116-x: 200px;
$icon-43065116-y: 400px;
$icon-43065116-offset-x: -200px;
$icon-43065116-offset-y: -400px;
$icon-43065116-width: 200px;
$icon-43065116-height: 200px;
$icon-43065116-total-width: 2200px;
$icon-43065116-total-height: 2200px;
$icon-43065116-image: 'client/assets/images/sprite.png';
$icon-43065116: (200px, 400px, -200px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43065116', );
$icon-43065132-name: 'icon-43065132';
$icon-43065132-x: 400px;
$icon-43065132-y: 400px;
$icon-43065132-offset-x: -400px;
$icon-43065132-offset-y: -400px;
$icon-43065132-width: 200px;
$icon-43065132-height: 200px;
$icon-43065132-total-width: 2200px;
$icon-43065132-total-height: 2200px;
$icon-43065132-image: 'client/assets/images/sprite.png';
$icon-43065132: (400px, 400px, -400px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43065132', );
$icon-43066074-name: 'icon-43066074';
$icon-43066074-x: 600px;
$icon-43066074-y: 0px;
$icon-43066074-offset-x: -600px;
$icon-43066074-offset-y: 0px;
$icon-43066074-width: 200px;
$icon-43066074-height: 200px;
$icon-43066074-total-width: 2200px;
$icon-43066074-total-height: 2200px;
$icon-43066074-image: 'client/assets/images/sprite.png';
$icon-43066074: (600px, 0px, -600px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43066074', );
$icon-43066103-name: 'icon-43066103';
$icon-43066103-x: 600px;
$icon-43066103-y: 200px;
$icon-43066103-offset-x: -600px;
$icon-43066103-offset-y: -200px;
$icon-43066103-width: 200px;
$icon-43066103-height: 200px;
$icon-43066103-total-width: 2200px;
$icon-43066103-total-height: 2200px;
$icon-43066103-image: 'client/assets/images/sprite.png';
$icon-43066103: (600px, 200px, -600px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43066103', );
$icon-43066189-name: 'icon-43066189';
$icon-43066189-x: 600px;
$icon-43066189-y: 400px;
$icon-43066189-offset-x: -600px;
$icon-43066189-offset-y: -400px;
$icon-43066189-width: 200px;
$icon-43066189-height: 200px;
$icon-43066189-total-width: 2200px;
$icon-43066189-total-height: 2200px;
$icon-43066189-image: 'client/assets/images/sprite.png';
$icon-43066189: (600px, 400px, -600px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43066189', );
$icon-43066251-name: 'icon-43066251';
$icon-43066251-x: 0px;
$icon-43066251-y: 600px;
$icon-43066251-offset-x: 0px;
$icon-43066251-offset-y: -600px;
$icon-43066251-width: 200px;
$icon-43066251-height: 200px;
$icon-43066251-total-width: 2200px;
$icon-43066251-total-height: 2200px;
$icon-43066251-image: 'client/assets/images/sprite.png';
$icon-43066251: (0px, 600px, 0px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43066251', );
$icon-43066394-name: 'icon-43066394';
$icon-43066394-x: 200px;
$icon-43066394-y: 600px;
$icon-43066394-offset-x: -200px;
$icon-43066394-offset-y: -600px;
$icon-43066394-width: 200px;
$icon-43066394-height: 200px;
$icon-43066394-total-width: 2200px;
$icon-43066394-total-height: 2200px;
$icon-43066394-image: 'client/assets/images/sprite.png';
$icon-43066394: (200px, 600px, -200px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43066394', );
$icon-43066528-name: 'icon-43066528';
$icon-43066528-x: 400px;
$icon-43066528-y: 600px;
$icon-43066528-offset-x: -400px;
$icon-43066528-offset-y: -600px;
$icon-43066528-width: 200px;
$icon-43066528-height: 200px;
$icon-43066528-total-width: 2200px;
$icon-43066528-total-height: 2200px;
$icon-43066528-image: 'client/assets/images/sprite.png';
$icon-43066528: (400px, 600px, -400px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43066528', );
$icon-43076627-name: 'icon-43076627';
$icon-43076627-x: 600px;
$icon-43076627-y: 600px;
$icon-43076627-offset-x: -600px;
$icon-43076627-offset-y: -600px;
$icon-43076627-width: 200px;
$icon-43076627-height: 200px;
$icon-43076627-total-width: 2200px;
$icon-43076627-total-height: 2200px;
$icon-43076627-image: 'client/assets/images/sprite.png';
$icon-43076627: (600px, 600px, -600px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43076627', );
$icon-43076675-name: 'icon-43076675';
$icon-43076675-x: 800px;
$icon-43076675-y: 0px;
$icon-43076675-offset-x: -800px;
$icon-43076675-offset-y: 0px;
$icon-43076675-width: 200px;
$icon-43076675-height: 200px;
$icon-43076675-total-width: 2200px;
$icon-43076675-total-height: 2200px;
$icon-43076675-image: 'client/assets/images/sprite.png';
$icon-43076675: (800px, 0px, -800px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43076675', );
$icon-43076712-name: 'icon-43076712';
$icon-43076712-x: 800px;
$icon-43076712-y: 200px;
$icon-43076712-offset-x: -800px;
$icon-43076712-offset-y: -200px;
$icon-43076712-width: 200px;
$icon-43076712-height: 200px;
$icon-43076712-total-width: 2200px;
$icon-43076712-total-height: 2200px;
$icon-43076712-image: 'client/assets/images/sprite.png';
$icon-43076712: (800px, 200px, -800px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43076712', );
$icon-43076730-name: 'icon-43076730';
$icon-43076730-x: 800px;
$icon-43076730-y: 400px;
$icon-43076730-offset-x: -800px;
$icon-43076730-offset-y: -400px;
$icon-43076730-width: 200px;
$icon-43076730-height: 200px;
$icon-43076730-total-width: 2200px;
$icon-43076730-total-height: 2200px;
$icon-43076730-image: 'client/assets/images/sprite.png';
$icon-43076730: (800px, 400px, -800px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43076730', );
$icon-43076744-name: 'icon-43076744';
$icon-43076744-x: 800px;
$icon-43076744-y: 600px;
$icon-43076744-offset-x: -800px;
$icon-43076744-offset-y: -600px;
$icon-43076744-width: 200px;
$icon-43076744-height: 200px;
$icon-43076744-total-width: 2200px;
$icon-43076744-total-height: 2200px;
$icon-43076744-image: 'client/assets/images/sprite.png';
$icon-43076744: (800px, 600px, -800px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43076744', );
$icon-43077431-name: 'icon-43077431';
$icon-43077431-x: 0px;
$icon-43077431-y: 800px;
$icon-43077431-offset-x: 0px;
$icon-43077431-offset-y: -800px;
$icon-43077431-width: 200px;
$icon-43077431-height: 200px;
$icon-43077431-total-width: 2200px;
$icon-43077431-total-height: 2200px;
$icon-43077431-image: 'client/assets/images/sprite.png';
$icon-43077431: (0px, 800px, 0px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43077431', );
$icon-43079057-name: 'icon-43079057';
$icon-43079057-x: 200px;
$icon-43079057-y: 800px;
$icon-43079057-offset-x: -200px;
$icon-43079057-offset-y: -800px;
$icon-43079057-width: 200px;
$icon-43079057-height: 200px;
$icon-43079057-total-width: 2200px;
$icon-43079057-total-height: 2200px;
$icon-43079057-image: 'client/assets/images/sprite.png';
$icon-43079057: (200px, 800px, -200px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43079057', );
$icon-43092841-name: 'icon-43092841';
$icon-43092841-x: 400px;
$icon-43092841-y: 800px;
$icon-43092841-offset-x: -400px;
$icon-43092841-offset-y: -800px;
$icon-43092841-width: 200px;
$icon-43092841-height: 200px;
$icon-43092841-total-width: 2200px;
$icon-43092841-total-height: 2200px;
$icon-43092841-image: 'client/assets/images/sprite.png';
$icon-43092841: (400px, 800px, -400px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43092841', );
$icon-43092865-name: 'icon-43092865';
$icon-43092865-x: 600px;
$icon-43092865-y: 800px;
$icon-43092865-offset-x: -600px;
$icon-43092865-offset-y: -800px;
$icon-43092865-width: 200px;
$icon-43092865-height: 200px;
$icon-43092865-total-width: 2200px;
$icon-43092865-total-height: 2200px;
$icon-43092865-image: 'client/assets/images/sprite.png';
$icon-43092865: (600px, 800px, -600px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43092865', );
$icon-43093743-name: 'icon-43093743';
$icon-43093743-x: 800px;
$icon-43093743-y: 800px;
$icon-43093743-offset-x: -800px;
$icon-43093743-offset-y: -800px;
$icon-43093743-width: 200px;
$icon-43093743-height: 200px;
$icon-43093743-total-width: 2200px;
$icon-43093743-total-height: 2200px;
$icon-43093743-image: 'client/assets/images/sprite.png';
$icon-43093743: (800px, 800px, -800px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43093743', );
$icon-43106353-name: 'icon-43106353';
$icon-43106353-x: 1000px;
$icon-43106353-y: 0px;
$icon-43106353-offset-x: -1000px;
$icon-43106353-offset-y: 0px;
$icon-43106353-width: 200px;
$icon-43106353-height: 200px;
$icon-43106353-total-width: 2200px;
$icon-43106353-total-height: 2200px;
$icon-43106353-image: 'client/assets/images/sprite.png';
$icon-43106353: (1000px, 0px, -1000px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43106353', );
$icon-43106410-name: 'icon-43106410';
$icon-43106410-x: 1000px;
$icon-43106410-y: 200px;
$icon-43106410-offset-x: -1000px;
$icon-43106410-offset-y: -200px;
$icon-43106410-width: 200px;
$icon-43106410-height: 200px;
$icon-43106410-total-width: 2200px;
$icon-43106410-total-height: 2200px;
$icon-43106410-image: 'client/assets/images/sprite.png';
$icon-43106410: (1000px, 200px, -1000px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43106410', );
$icon-43106435-name: 'icon-43106435';
$icon-43106435-x: 1000px;
$icon-43106435-y: 400px;
$icon-43106435-offset-x: -1000px;
$icon-43106435-offset-y: -400px;
$icon-43106435-width: 200px;
$icon-43106435-height: 200px;
$icon-43106435-total-width: 2200px;
$icon-43106435-total-height: 2200px;
$icon-43106435-image: 'client/assets/images/sprite.png';
$icon-43106435: (1000px, 400px, -1000px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43106435', );
$icon-43106437-name: 'icon-43106437';
$icon-43106437-x: 1000px;
$icon-43106437-y: 600px;
$icon-43106437-offset-x: -1000px;
$icon-43106437-offset-y: -600px;
$icon-43106437-width: 200px;
$icon-43106437-height: 200px;
$icon-43106437-total-width: 2200px;
$icon-43106437-total-height: 2200px;
$icon-43106437-image: 'client/assets/images/sprite.png';
$icon-43106437: (1000px, 600px, -1000px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43106437', );
$icon-43106506-name: 'icon-43106506';
$icon-43106506-x: 1000px;
$icon-43106506-y: 800px;
$icon-43106506-offset-x: -1000px;
$icon-43106506-offset-y: -800px;
$icon-43106506-width: 200px;
$icon-43106506-height: 200px;
$icon-43106506-total-width: 2200px;
$icon-43106506-total-height: 2200px;
$icon-43106506-image: 'client/assets/images/sprite.png';
$icon-43106506: (1000px, 800px, -1000px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43106506', );
$icon-43106728-name: 'icon-43106728';
$icon-43106728-x: 0px;
$icon-43106728-y: 1000px;
$icon-43106728-offset-x: 0px;
$icon-43106728-offset-y: -1000px;
$icon-43106728-width: 200px;
$icon-43106728-height: 200px;
$icon-43106728-total-width: 2200px;
$icon-43106728-total-height: 2200px;
$icon-43106728-image: 'client/assets/images/sprite.png';
$icon-43106728: (0px, 1000px, 0px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43106728', );
$icon-43106741-name: 'icon-43106741';
$icon-43106741-x: 200px;
$icon-43106741-y: 1000px;
$icon-43106741-offset-x: -200px;
$icon-43106741-offset-y: -1000px;
$icon-43106741-width: 200px;
$icon-43106741-height: 200px;
$icon-43106741-total-width: 2200px;
$icon-43106741-total-height: 2200px;
$icon-43106741-image: 'client/assets/images/sprite.png';
$icon-43106741: (200px, 1000px, -200px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43106741', );
$icon-43106754-name: 'icon-43106754';
$icon-43106754-x: 400px;
$icon-43106754-y: 1000px;
$icon-43106754-offset-x: -400px;
$icon-43106754-offset-y: -1000px;
$icon-43106754-width: 200px;
$icon-43106754-height: 200px;
$icon-43106754-total-width: 2200px;
$icon-43106754-total-height: 2200px;
$icon-43106754-image: 'client/assets/images/sprite.png';
$icon-43106754: (400px, 1000px, -400px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43106754', );
$icon-43126787-name: 'icon-43126787';
$icon-43126787-x: 600px;
$icon-43126787-y: 1000px;
$icon-43126787-offset-x: -600px;
$icon-43126787-offset-y: -1000px;
$icon-43126787-width: 200px;
$icon-43126787-height: 200px;
$icon-43126787-total-width: 2200px;
$icon-43126787-total-height: 2200px;
$icon-43126787-image: 'client/assets/images/sprite.png';
$icon-43126787: (600px, 1000px, -600px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43126787', );
$icon-43127015-name: 'icon-43127015';
$icon-43127015-x: 800px;
$icon-43127015-y: 1000px;
$icon-43127015-offset-x: -800px;
$icon-43127015-offset-y: -1000px;
$icon-43127015-width: 200px;
$icon-43127015-height: 200px;
$icon-43127015-total-width: 2200px;
$icon-43127015-total-height: 2200px;
$icon-43127015-image: 'client/assets/images/sprite.png';
$icon-43127015: (800px, 1000px, -800px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43127015', );
$icon-43127137-name: 'icon-43127137';
$icon-43127137-x: 1000px;
$icon-43127137-y: 1000px;
$icon-43127137-offset-x: -1000px;
$icon-43127137-offset-y: -1000px;
$icon-43127137-width: 200px;
$icon-43127137-height: 200px;
$icon-43127137-total-width: 2200px;
$icon-43127137-total-height: 2200px;
$icon-43127137-image: 'client/assets/images/sprite.png';
$icon-43127137: (1000px, 1000px, -1000px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43127137', );
$icon-43127143-name: 'icon-43127143';
$icon-43127143-x: 1200px;
$icon-43127143-y: 0px;
$icon-43127143-offset-x: -1200px;
$icon-43127143-offset-y: 0px;
$icon-43127143-width: 200px;
$icon-43127143-height: 200px;
$icon-43127143-total-width: 2200px;
$icon-43127143-total-height: 2200px;
$icon-43127143-image: 'client/assets/images/sprite.png';
$icon-43127143: (1200px, 0px, -1200px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43127143', );
$icon-43156684-name: 'icon-43156684';
$icon-43156684-x: 1200px;
$icon-43156684-y: 200px;
$icon-43156684-offset-x: -1200px;
$icon-43156684-offset-y: -200px;
$icon-43156684-width: 200px;
$icon-43156684-height: 200px;
$icon-43156684-total-width: 2200px;
$icon-43156684-total-height: 2200px;
$icon-43156684-image: 'client/assets/images/sprite.png';
$icon-43156684: (1200px, 200px, -1200px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43156684', );
$icon-43156716-name: 'icon-43156716';
$icon-43156716-x: 1200px;
$icon-43156716-y: 400px;
$icon-43156716-offset-x: -1200px;
$icon-43156716-offset-y: -400px;
$icon-43156716-width: 200px;
$icon-43156716-height: 200px;
$icon-43156716-total-width: 2200px;
$icon-43156716-total-height: 2200px;
$icon-43156716-image: 'client/assets/images/sprite.png';
$icon-43156716: (1200px, 400px, -1200px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43156716', );
$icon-43156786-name: 'icon-43156786';
$icon-43156786-x: 1200px;
$icon-43156786-y: 600px;
$icon-43156786-offset-x: -1200px;
$icon-43156786-offset-y: -600px;
$icon-43156786-width: 200px;
$icon-43156786-height: 200px;
$icon-43156786-total-width: 2200px;
$icon-43156786-total-height: 2200px;
$icon-43156786-image: 'client/assets/images/sprite.png';
$icon-43156786: (1200px, 600px, -1200px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43156786', );
$icon-43156815-name: 'icon-43156815';
$icon-43156815-x: 1200px;
$icon-43156815-y: 800px;
$icon-43156815-offset-x: -1200px;
$icon-43156815-offset-y: -800px;
$icon-43156815-width: 200px;
$icon-43156815-height: 200px;
$icon-43156815-total-width: 2200px;
$icon-43156815-total-height: 2200px;
$icon-43156815-image: 'client/assets/images/sprite.png';
$icon-43156815: (1200px, 800px, -1200px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43156815', );
$icon-43156860-name: 'icon-43156860';
$icon-43156860-x: 1200px;
$icon-43156860-y: 1000px;
$icon-43156860-offset-x: -1200px;
$icon-43156860-offset-y: -1000px;
$icon-43156860-width: 200px;
$icon-43156860-height: 200px;
$icon-43156860-total-width: 2200px;
$icon-43156860-total-height: 2200px;
$icon-43156860-image: 'client/assets/images/sprite.png';
$icon-43156860: (1200px, 1000px, -1200px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43156860', );
$icon-43156865-name: 'icon-43156865';
$icon-43156865-x: 0px;
$icon-43156865-y: 1200px;
$icon-43156865-offset-x: 0px;
$icon-43156865-offset-y: -1200px;
$icon-43156865-width: 200px;
$icon-43156865-height: 200px;
$icon-43156865-total-width: 2200px;
$icon-43156865-total-height: 2200px;
$icon-43156865-image: 'client/assets/images/sprite.png';
$icon-43156865: (0px, 1200px, 0px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43156865', );
$icon-43156904-name: 'icon-43156904';
$icon-43156904-x: 200px;
$icon-43156904-y: 1200px;
$icon-43156904-offset-x: -200px;
$icon-43156904-offset-y: -1200px;
$icon-43156904-width: 200px;
$icon-43156904-height: 200px;
$icon-43156904-total-width: 2200px;
$icon-43156904-total-height: 2200px;
$icon-43156904-image: 'client/assets/images/sprite.png';
$icon-43156904: (200px, 1200px, -200px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43156904', );
$icon-43156920-name: 'icon-43156920';
$icon-43156920-x: 400px;
$icon-43156920-y: 1200px;
$icon-43156920-offset-x: -400px;
$icon-43156920-offset-y: -1200px;
$icon-43156920-width: 200px;
$icon-43156920-height: 200px;
$icon-43156920-total-width: 2200px;
$icon-43156920-total-height: 2200px;
$icon-43156920-image: 'client/assets/images/sprite.png';
$icon-43156920: (400px, 1200px, -400px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43156920', );
$icon-43157004-name: 'icon-43157004';
$icon-43157004-x: 600px;
$icon-43157004-y: 1200px;
$icon-43157004-offset-x: -600px;
$icon-43157004-offset-y: -1200px;
$icon-43157004-width: 200px;
$icon-43157004-height: 200px;
$icon-43157004-total-width: 2200px;
$icon-43157004-total-height: 2200px;
$icon-43157004-image: 'client/assets/images/sprite.png';
$icon-43157004: (600px, 1200px, -600px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157004', );
$icon-43157034-name: 'icon-43157034';
$icon-43157034-x: 800px;
$icon-43157034-y: 1200px;
$icon-43157034-offset-x: -800px;
$icon-43157034-offset-y: -1200px;
$icon-43157034-width: 200px;
$icon-43157034-height: 200px;
$icon-43157034-total-width: 2200px;
$icon-43157034-total-height: 2200px;
$icon-43157034-image: 'client/assets/images/sprite.png';
$icon-43157034: (800px, 1200px, -800px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157034', );
$icon-43157037-name: 'icon-43157037';
$icon-43157037-x: 1000px;
$icon-43157037-y: 1200px;
$icon-43157037-offset-x: -1000px;
$icon-43157037-offset-y: -1200px;
$icon-43157037-width: 200px;
$icon-43157037-height: 200px;
$icon-43157037-total-width: 2200px;
$icon-43157037-total-height: 2200px;
$icon-43157037-image: 'client/assets/images/sprite.png';
$icon-43157037: (1000px, 1200px, -1000px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157037', );
$icon-43157143-name: 'icon-43157143';
$icon-43157143-x: 1200px;
$icon-43157143-y: 1200px;
$icon-43157143-offset-x: -1200px;
$icon-43157143-offset-y: -1200px;
$icon-43157143-width: 200px;
$icon-43157143-height: 200px;
$icon-43157143-total-width: 2200px;
$icon-43157143-total-height: 2200px;
$icon-43157143-image: 'client/assets/images/sprite.png';
$icon-43157143: (1200px, 1200px, -1200px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157143', );
$icon-43157209-name: 'icon-43157209';
$icon-43157209-x: 1400px;
$icon-43157209-y: 0px;
$icon-43157209-offset-x: -1400px;
$icon-43157209-offset-y: 0px;
$icon-43157209-width: 200px;
$icon-43157209-height: 200px;
$icon-43157209-total-width: 2200px;
$icon-43157209-total-height: 2200px;
$icon-43157209-image: 'client/assets/images/sprite.png';
$icon-43157209: (1400px, 0px, -1400px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157209', );
$icon-43157210-name: 'icon-43157210';
$icon-43157210-x: 1400px;
$icon-43157210-y: 200px;
$icon-43157210-offset-x: -1400px;
$icon-43157210-offset-y: -200px;
$icon-43157210-width: 200px;
$icon-43157210-height: 200px;
$icon-43157210-total-width: 2200px;
$icon-43157210-total-height: 2200px;
$icon-43157210-image: 'client/assets/images/sprite.png';
$icon-43157210: (1400px, 200px, -1400px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157210', );
$icon-43157213-name: 'icon-43157213';
$icon-43157213-x: 1400px;
$icon-43157213-y: 400px;
$icon-43157213-offset-x: -1400px;
$icon-43157213-offset-y: -400px;
$icon-43157213-width: 200px;
$icon-43157213-height: 200px;
$icon-43157213-total-width: 2200px;
$icon-43157213-total-height: 2200px;
$icon-43157213-image: 'client/assets/images/sprite.png';
$icon-43157213: (1400px, 400px, -1400px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157213', );
$icon-43157230-name: 'icon-43157230';
$icon-43157230-x: 1400px;
$icon-43157230-y: 600px;
$icon-43157230-offset-x: -1400px;
$icon-43157230-offset-y: -600px;
$icon-43157230-width: 200px;
$icon-43157230-height: 200px;
$icon-43157230-total-width: 2200px;
$icon-43157230-total-height: 2200px;
$icon-43157230-image: 'client/assets/images/sprite.png';
$icon-43157230: (1400px, 600px, -1400px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157230', );
$icon-43157255-name: 'icon-43157255';
$icon-43157255-x: 1400px;
$icon-43157255-y: 800px;
$icon-43157255-offset-x: -1400px;
$icon-43157255-offset-y: -800px;
$icon-43157255-width: 200px;
$icon-43157255-height: 200px;
$icon-43157255-total-width: 2200px;
$icon-43157255-total-height: 2200px;
$icon-43157255-image: 'client/assets/images/sprite.png';
$icon-43157255: (1400px, 800px, -1400px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157255', );
$icon-43157282-name: 'icon-43157282';
$icon-43157282-x: 1400px;
$icon-43157282-y: 1000px;
$icon-43157282-offset-x: -1400px;
$icon-43157282-offset-y: -1000px;
$icon-43157282-width: 200px;
$icon-43157282-height: 200px;
$icon-43157282-total-width: 2200px;
$icon-43157282-total-height: 2200px;
$icon-43157282-image: 'client/assets/images/sprite.png';
$icon-43157282: (1400px, 1000px, -1400px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157282', );
$icon-43157304-name: 'icon-43157304';
$icon-43157304-x: 1400px;
$icon-43157304-y: 1200px;
$icon-43157304-offset-x: -1400px;
$icon-43157304-offset-y: -1200px;
$icon-43157304-width: 200px;
$icon-43157304-height: 200px;
$icon-43157304-total-width: 2200px;
$icon-43157304-total-height: 2200px;
$icon-43157304-image: 'client/assets/images/sprite.png';
$icon-43157304: (1400px, 1200px, -1400px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157304', );
$icon-43157338-name: 'icon-43157338';
$icon-43157338-x: 0px;
$icon-43157338-y: 1400px;
$icon-43157338-offset-x: 0px;
$icon-43157338-offset-y: -1400px;
$icon-43157338-width: 200px;
$icon-43157338-height: 200px;
$icon-43157338-total-width: 2200px;
$icon-43157338-total-height: 2200px;
$icon-43157338-image: 'client/assets/images/sprite.png';
$icon-43157338: (0px, 1400px, 0px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157338', );
$icon-43157372-name: 'icon-43157372';
$icon-43157372-x: 200px;
$icon-43157372-y: 1400px;
$icon-43157372-offset-x: -200px;
$icon-43157372-offset-y: -1400px;
$icon-43157372-width: 200px;
$icon-43157372-height: 200px;
$icon-43157372-total-width: 2200px;
$icon-43157372-total-height: 2200px;
$icon-43157372-image: 'client/assets/images/sprite.png';
$icon-43157372: (200px, 1400px, -200px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157372', );
$icon-43157515-name: 'icon-43157515';
$icon-43157515-x: 400px;
$icon-43157515-y: 1400px;
$icon-43157515-offset-x: -400px;
$icon-43157515-offset-y: -1400px;
$icon-43157515-width: 200px;
$icon-43157515-height: 200px;
$icon-43157515-total-width: 2200px;
$icon-43157515-total-height: 2200px;
$icon-43157515-image: 'client/assets/images/sprite.png';
$icon-43157515: (400px, 1400px, -400px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43157515', );
$icon-43204854-name: 'icon-43204854';
$icon-43204854-x: 600px;
$icon-43204854-y: 1400px;
$icon-43204854-offset-x: -600px;
$icon-43204854-offset-y: -1400px;
$icon-43204854-width: 200px;
$icon-43204854-height: 200px;
$icon-43204854-total-width: 2200px;
$icon-43204854-total-height: 2200px;
$icon-43204854-image: 'client/assets/images/sprite.png';
$icon-43204854: (600px, 1400px, -600px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43204854', );
$icon-43204856-name: 'icon-43204856';
$icon-43204856-x: 800px;
$icon-43204856-y: 1400px;
$icon-43204856-offset-x: -800px;
$icon-43204856-offset-y: -1400px;
$icon-43204856-width: 200px;
$icon-43204856-height: 200px;
$icon-43204856-total-width: 2200px;
$icon-43204856-total-height: 2200px;
$icon-43204856-image: 'client/assets/images/sprite.png';
$icon-43204856: (800px, 1400px, -800px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43204856', );
$icon-43204869-name: 'icon-43204869';
$icon-43204869-x: 1000px;
$icon-43204869-y: 1400px;
$icon-43204869-offset-x: -1000px;
$icon-43204869-offset-y: -1400px;
$icon-43204869-width: 200px;
$icon-43204869-height: 200px;
$icon-43204869-total-width: 2200px;
$icon-43204869-total-height: 2200px;
$icon-43204869-image: 'client/assets/images/sprite.png';
$icon-43204869: (1000px, 1400px, -1000px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43204869', );
$icon-43204932-name: 'icon-43204932';
$icon-43204932-x: 1200px;
$icon-43204932-y: 1400px;
$icon-43204932-offset-x: -1200px;
$icon-43204932-offset-y: -1400px;
$icon-43204932-width: 200px;
$icon-43204932-height: 200px;
$icon-43204932-total-width: 2200px;
$icon-43204932-total-height: 2200px;
$icon-43204932-image: 'client/assets/images/sprite.png';
$icon-43204932: (1200px, 1400px, -1200px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43204932', );
$icon-43205077-name: 'icon-43205077';
$icon-43205077-x: 1400px;
$icon-43205077-y: 1400px;
$icon-43205077-offset-x: -1400px;
$icon-43205077-offset-y: -1400px;
$icon-43205077-width: 200px;
$icon-43205077-height: 200px;
$icon-43205077-total-width: 2200px;
$icon-43205077-total-height: 2200px;
$icon-43205077-image: 'client/assets/images/sprite.png';
$icon-43205077: (1400px, 1400px, -1400px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43205077', );
$icon-43269755-name: 'icon-43269755';
$icon-43269755-x: 1600px;
$icon-43269755-y: 0px;
$icon-43269755-offset-x: -1600px;
$icon-43269755-offset-y: 0px;
$icon-43269755-width: 200px;
$icon-43269755-height: 200px;
$icon-43269755-total-width: 2200px;
$icon-43269755-total-height: 2200px;
$icon-43269755-image: 'client/assets/images/sprite.png';
$icon-43269755: (1600px, 0px, -1600px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43269755', );
$icon-43269790-name: 'icon-43269790';
$icon-43269790-x: 1600px;
$icon-43269790-y: 200px;
$icon-43269790-offset-x: -1600px;
$icon-43269790-offset-y: -200px;
$icon-43269790-width: 200px;
$icon-43269790-height: 200px;
$icon-43269790-total-width: 2200px;
$icon-43269790-total-height: 2200px;
$icon-43269790-image: 'client/assets/images/sprite.png';
$icon-43269790: (1600px, 200px, -1600px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43269790', );
$icon-43320826-name: 'icon-43320826';
$icon-43320826-x: 1600px;
$icon-43320826-y: 400px;
$icon-43320826-offset-x: -1600px;
$icon-43320826-offset-y: -400px;
$icon-43320826-width: 200px;
$icon-43320826-height: 200px;
$icon-43320826-total-width: 2200px;
$icon-43320826-total-height: 2200px;
$icon-43320826-image: 'client/assets/images/sprite.png';
$icon-43320826: (1600px, 400px, -1600px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43320826', );
$icon-43320859-name: 'icon-43320859';
$icon-43320859-x: 1600px;
$icon-43320859-y: 600px;
$icon-43320859-offset-x: -1600px;
$icon-43320859-offset-y: -600px;
$icon-43320859-width: 200px;
$icon-43320859-height: 200px;
$icon-43320859-total-width: 2200px;
$icon-43320859-total-height: 2200px;
$icon-43320859-image: 'client/assets/images/sprite.png';
$icon-43320859: (1600px, 600px, -1600px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43320859', );
$icon-43320892-name: 'icon-43320892';
$icon-43320892-x: 1600px;
$icon-43320892-y: 800px;
$icon-43320892-offset-x: -1600px;
$icon-43320892-offset-y: -800px;
$icon-43320892-width: 200px;
$icon-43320892-height: 200px;
$icon-43320892-total-width: 2200px;
$icon-43320892-total-height: 2200px;
$icon-43320892-image: 'client/assets/images/sprite.png';
$icon-43320892: (1600px, 800px, -1600px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43320892', );
$icon-43320895-name: 'icon-43320895';
$icon-43320895-x: 1600px;
$icon-43320895-y: 1000px;
$icon-43320895-offset-x: -1600px;
$icon-43320895-offset-y: -1000px;
$icon-43320895-width: 200px;
$icon-43320895-height: 200px;
$icon-43320895-total-width: 2200px;
$icon-43320895-total-height: 2200px;
$icon-43320895-image: 'client/assets/images/sprite.png';
$icon-43320895: (1600px, 1000px, -1600px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43320895', );
$icon-43320900-name: 'icon-43320900';
$icon-43320900-x: 1600px;
$icon-43320900-y: 1200px;
$icon-43320900-offset-x: -1600px;
$icon-43320900-offset-y: -1200px;
$icon-43320900-width: 200px;
$icon-43320900-height: 200px;
$icon-43320900-total-width: 2200px;
$icon-43320900-total-height: 2200px;
$icon-43320900-image: 'client/assets/images/sprite.png';
$icon-43320900: (1600px, 1200px, -1600px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43320900', );
$icon-43320934-name: 'icon-43320934';
$icon-43320934-x: 1600px;
$icon-43320934-y: 1400px;
$icon-43320934-offset-x: -1600px;
$icon-43320934-offset-y: -1400px;
$icon-43320934-width: 200px;
$icon-43320934-height: 200px;
$icon-43320934-total-width: 2200px;
$icon-43320934-total-height: 2200px;
$icon-43320934-image: 'client/assets/images/sprite.png';
$icon-43320934: (1600px, 1400px, -1600px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43320934', );
$icon-43320989-name: 'icon-43320989';
$icon-43320989-x: 0px;
$icon-43320989-y: 1600px;
$icon-43320989-offset-x: 0px;
$icon-43320989-offset-y: -1600px;
$icon-43320989-width: 200px;
$icon-43320989-height: 200px;
$icon-43320989-total-width: 2200px;
$icon-43320989-total-height: 2200px;
$icon-43320989-image: 'client/assets/images/sprite.png';
$icon-43320989: (0px, 1600px, 0px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43320989', );
$icon-43385920-name: 'icon-43385920';
$icon-43385920-x: 200px;
$icon-43385920-y: 1600px;
$icon-43385920-offset-x: -200px;
$icon-43385920-offset-y: -1600px;
$icon-43385920-width: 200px;
$icon-43385920-height: 200px;
$icon-43385920-total-width: 2200px;
$icon-43385920-total-height: 2200px;
$icon-43385920-image: 'client/assets/images/sprite.png';
$icon-43385920: (200px, 1600px, -200px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43385920', );
$icon-43385942-name: 'icon-43385942';
$icon-43385942-x: 400px;
$icon-43385942-y: 1600px;
$icon-43385942-offset-x: -400px;
$icon-43385942-offset-y: -1600px;
$icon-43385942-width: 200px;
$icon-43385942-height: 200px;
$icon-43385942-total-width: 2200px;
$icon-43385942-total-height: 2200px;
$icon-43385942-image: 'client/assets/images/sprite.png';
$icon-43385942: (400px, 1600px, -400px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43385942', );
$icon-43385965-name: 'icon-43385965';
$icon-43385965-x: 600px;
$icon-43385965-y: 1600px;
$icon-43385965-offset-x: -600px;
$icon-43385965-offset-y: -1600px;
$icon-43385965-width: 200px;
$icon-43385965-height: 200px;
$icon-43385965-total-width: 2200px;
$icon-43385965-total-height: 2200px;
$icon-43385965-image: 'client/assets/images/sprite.png';
$icon-43385965: (600px, 1600px, -600px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43385965', );
$icon-43385973-name: 'icon-43385973';
$icon-43385973-x: 800px;
$icon-43385973-y: 1600px;
$icon-43385973-offset-x: -800px;
$icon-43385973-offset-y: -1600px;
$icon-43385973-width: 200px;
$icon-43385973-height: 200px;
$icon-43385973-total-width: 2200px;
$icon-43385973-total-height: 2200px;
$icon-43385973-image: 'client/assets/images/sprite.png';
$icon-43385973: (800px, 1600px, -800px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43385973', );
$icon-43386001-name: 'icon-43386001';
$icon-43386001-x: 1000px;
$icon-43386001-y: 1600px;
$icon-43386001-offset-x: -1000px;
$icon-43386001-offset-y: -1600px;
$icon-43386001-width: 200px;
$icon-43386001-height: 200px;
$icon-43386001-total-width: 2200px;
$icon-43386001-total-height: 2200px;
$icon-43386001-image: 'client/assets/images/sprite.png';
$icon-43386001: (1000px, 1600px, -1000px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386001', );
$icon-43386096-name: 'icon-43386096';
$icon-43386096-x: 1200px;
$icon-43386096-y: 1600px;
$icon-43386096-offset-x: -1200px;
$icon-43386096-offset-y: -1600px;
$icon-43386096-width: 200px;
$icon-43386096-height: 200px;
$icon-43386096-total-width: 2200px;
$icon-43386096-total-height: 2200px;
$icon-43386096-image: 'client/assets/images/sprite.png';
$icon-43386096: (1200px, 1600px, -1200px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386096', );
$icon-43386103-name: 'icon-43386103';
$icon-43386103-x: 1400px;
$icon-43386103-y: 1600px;
$icon-43386103-offset-x: -1400px;
$icon-43386103-offset-y: -1600px;
$icon-43386103-width: 200px;
$icon-43386103-height: 200px;
$icon-43386103-total-width: 2200px;
$icon-43386103-total-height: 2200px;
$icon-43386103-image: 'client/assets/images/sprite.png';
$icon-43386103: (1400px, 1600px, -1400px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386103', );
$icon-43386196-name: 'icon-43386196';
$icon-43386196-x: 1600px;
$icon-43386196-y: 1600px;
$icon-43386196-offset-x: -1600px;
$icon-43386196-offset-y: -1600px;
$icon-43386196-width: 200px;
$icon-43386196-height: 200px;
$icon-43386196-total-width: 2200px;
$icon-43386196-total-height: 2200px;
$icon-43386196-image: 'client/assets/images/sprite.png';
$icon-43386196: (1600px, 1600px, -1600px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386196', );
$icon-43386218-name: 'icon-43386218';
$icon-43386218-x: 1800px;
$icon-43386218-y: 0px;
$icon-43386218-offset-x: -1800px;
$icon-43386218-offset-y: 0px;
$icon-43386218-width: 200px;
$icon-43386218-height: 200px;
$icon-43386218-total-width: 2200px;
$icon-43386218-total-height: 2200px;
$icon-43386218-image: 'client/assets/images/sprite.png';
$icon-43386218: (1800px, 0px, -1800px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386218', );
$icon-43386252-name: 'icon-43386252';
$icon-43386252-x: 1800px;
$icon-43386252-y: 200px;
$icon-43386252-offset-x: -1800px;
$icon-43386252-offset-y: -200px;
$icon-43386252-width: 200px;
$icon-43386252-height: 200px;
$icon-43386252-total-width: 2200px;
$icon-43386252-total-height: 2200px;
$icon-43386252-image: 'client/assets/images/sprite.png';
$icon-43386252: (1800px, 200px, -1800px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386252', );
$icon-43386394-name: 'icon-43386394';
$icon-43386394-x: 1800px;
$icon-43386394-y: 400px;
$icon-43386394-offset-x: -1800px;
$icon-43386394-offset-y: -400px;
$icon-43386394-width: 200px;
$icon-43386394-height: 200px;
$icon-43386394-total-width: 2200px;
$icon-43386394-total-height: 2200px;
$icon-43386394-image: 'client/assets/images/sprite.png';
$icon-43386394: (1800px, 400px, -1800px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386394', );
$icon-43386401-name: 'icon-43386401';
$icon-43386401-x: 1800px;
$icon-43386401-y: 600px;
$icon-43386401-offset-x: -1800px;
$icon-43386401-offset-y: -600px;
$icon-43386401-width: 200px;
$icon-43386401-height: 200px;
$icon-43386401-total-width: 2200px;
$icon-43386401-total-height: 2200px;
$icon-43386401-image: 'client/assets/images/sprite.png';
$icon-43386401: (1800px, 600px, -1800px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386401', );
$icon-43386446-name: 'icon-43386446';
$icon-43386446-x: 1800px;
$icon-43386446-y: 800px;
$icon-43386446-offset-x: -1800px;
$icon-43386446-offset-y: -800px;
$icon-43386446-width: 200px;
$icon-43386446-height: 200px;
$icon-43386446-total-width: 2200px;
$icon-43386446-total-height: 2200px;
$icon-43386446-image: 'client/assets/images/sprite.png';
$icon-43386446: (1800px, 800px, -1800px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386446', );
$icon-43386518-name: 'icon-43386518';
$icon-43386518-x: 1800px;
$icon-43386518-y: 1000px;
$icon-43386518-offset-x: -1800px;
$icon-43386518-offset-y: -1000px;
$icon-43386518-width: 200px;
$icon-43386518-height: 200px;
$icon-43386518-total-width: 2200px;
$icon-43386518-total-height: 2200px;
$icon-43386518-image: 'client/assets/images/sprite.png';
$icon-43386518: (1800px, 1000px, -1800px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386518', );
$icon-43386593-name: 'icon-43386593';
$icon-43386593-x: 1800px;
$icon-43386593-y: 1200px;
$icon-43386593-offset-x: -1800px;
$icon-43386593-offset-y: -1200px;
$icon-43386593-width: 200px;
$icon-43386593-height: 200px;
$icon-43386593-total-width: 2200px;
$icon-43386593-total-height: 2200px;
$icon-43386593-image: 'client/assets/images/sprite.png';
$icon-43386593: (1800px, 1200px, -1800px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386593', );
$icon-43386662-name: 'icon-43386662';
$icon-43386662-x: 1800px;
$icon-43386662-y: 1400px;
$icon-43386662-offset-x: -1800px;
$icon-43386662-offset-y: -1400px;
$icon-43386662-width: 200px;
$icon-43386662-height: 200px;
$icon-43386662-total-width: 2200px;
$icon-43386662-total-height: 2200px;
$icon-43386662-image: 'client/assets/images/sprite.png';
$icon-43386662: (1800px, 1400px, -1800px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386662', );
$icon-43386715-name: 'icon-43386715';
$icon-43386715-x: 1800px;
$icon-43386715-y: 1600px;
$icon-43386715-offset-x: -1800px;
$icon-43386715-offset-y: -1600px;
$icon-43386715-width: 200px;
$icon-43386715-height: 200px;
$icon-43386715-total-width: 2200px;
$icon-43386715-total-height: 2200px;
$icon-43386715-image: 'client/assets/images/sprite.png';
$icon-43386715: (1800px, 1600px, -1800px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386715', );
$icon-43386728-name: 'icon-43386728';
$icon-43386728-x: 0px;
$icon-43386728-y: 1800px;
$icon-43386728-offset-x: 0px;
$icon-43386728-offset-y: -1800px;
$icon-43386728-width: 200px;
$icon-43386728-height: 200px;
$icon-43386728-total-width: 2200px;
$icon-43386728-total-height: 2200px;
$icon-43386728-image: 'client/assets/images/sprite.png';
$icon-43386728: (0px, 1800px, 0px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43386728', );
$icon-43388688-name: 'icon-43388688';
$icon-43388688-x: 200px;
$icon-43388688-y: 1800px;
$icon-43388688-offset-x: -200px;
$icon-43388688-offset-y: -1800px;
$icon-43388688-width: 200px;
$icon-43388688-height: 200px;
$icon-43388688-total-width: 2200px;
$icon-43388688-total-height: 2200px;
$icon-43388688-image: 'client/assets/images/sprite.png';
$icon-43388688: (200px, 1800px, -200px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43388688', );
$icon-43411923-name: 'icon-43411923';
$icon-43411923-x: 400px;
$icon-43411923-y: 1800px;
$icon-43411923-offset-x: -400px;
$icon-43411923-offset-y: -1800px;
$icon-43411923-width: 200px;
$icon-43411923-height: 200px;
$icon-43411923-total-width: 2200px;
$icon-43411923-total-height: 2200px;
$icon-43411923-image: 'client/assets/images/sprite.png';
$icon-43411923: (400px, 1800px, -400px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43411923', );
$icon-43457022-name: 'icon-43457022';
$icon-43457022-x: 600px;
$icon-43457022-y: 1800px;
$icon-43457022-offset-x: -600px;
$icon-43457022-offset-y: -1800px;
$icon-43457022-width: 200px;
$icon-43457022-height: 200px;
$icon-43457022-total-width: 2200px;
$icon-43457022-total-height: 2200px;
$icon-43457022-image: 'client/assets/images/sprite.png';
$icon-43457022: (600px, 1800px, -600px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43457022', );
$icon-43457137-name: 'icon-43457137';
$icon-43457137-x: 800px;
$icon-43457137-y: 1800px;
$icon-43457137-offset-x: -800px;
$icon-43457137-offset-y: -1800px;
$icon-43457137-width: 200px;
$icon-43457137-height: 200px;
$icon-43457137-total-width: 2200px;
$icon-43457137-total-height: 2200px;
$icon-43457137-image: 'client/assets/images/sprite.png';
$icon-43457137: (800px, 1800px, -800px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43457137', );
$icon-43460734-name: 'icon-43460734';
$icon-43460734-x: 1000px;
$icon-43460734-y: 1800px;
$icon-43460734-offset-x: -1000px;
$icon-43460734-offset-y: -1800px;
$icon-43460734-width: 200px;
$icon-43460734-height: 200px;
$icon-43460734-total-width: 2200px;
$icon-43460734-total-height: 2200px;
$icon-43460734-image: 'client/assets/images/sprite.png';
$icon-43460734: (1000px, 1800px, -1000px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43460734', );
$icon-43611077-name: 'icon-43611077';
$icon-43611077-x: 1200px;
$icon-43611077-y: 1800px;
$icon-43611077-offset-x: -1200px;
$icon-43611077-offset-y: -1800px;
$icon-43611077-width: 200px;
$icon-43611077-height: 200px;
$icon-43611077-total-width: 2200px;
$icon-43611077-total-height: 2200px;
$icon-43611077-image: 'client/assets/images/sprite.png';
$icon-43611077: (1200px, 1800px, -1200px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-43611077', );
$icon-700206-name: 'icon-700206';
$icon-700206-x: 1400px;
$icon-700206-y: 1800px;
$icon-700206-offset-x: -1400px;
$icon-700206-offset-y: -1800px;
$icon-700206-width: 200px;
$icon-700206-height: 200px;
$icon-700206-total-width: 2200px;
$icon-700206-total-height: 2200px;
$icon-700206-image: 'client/assets/images/sprite.png';
$icon-700206: (1400px, 1800px, -1400px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-700206', );
$icon-700275-name: 'icon-700275';
$icon-700275-x: 1600px;
$icon-700275-y: 1800px;
$icon-700275-offset-x: -1600px;
$icon-700275-offset-y: -1800px;
$icon-700275-width: 200px;
$icon-700275-height: 200px;
$icon-700275-total-width: 2200px;
$icon-700275-total-height: 2200px;
$icon-700275-image: 'client/assets/images/sprite.png';
$icon-700275: (1600px, 1800px, -1600px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-700275', );
$icon-7980359-name: 'icon-7980359';
$icon-7980359-x: 1800px;
$icon-7980359-y: 1800px;
$icon-7980359-offset-x: -1800px;
$icon-7980359-offset-y: -1800px;
$icon-7980359-width: 200px;
$icon-7980359-height: 200px;
$icon-7980359-total-width: 2200px;
$icon-7980359-total-height: 2200px;
$icon-7980359-image: 'client/assets/images/sprite.png';
$icon-7980359: (1800px, 1800px, -1800px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-7980359', );
$icon-7980364-name: 'icon-7980364';
$icon-7980364-x: 2000px;
$icon-7980364-y: 0px;
$icon-7980364-offset-x: -2000px;
$icon-7980364-offset-y: 0px;
$icon-7980364-width: 200px;
$icon-7980364-height: 200px;
$icon-7980364-total-width: 2200px;
$icon-7980364-total-height: 2200px;
$icon-7980364-image: 'client/assets/images/sprite.png';
$icon-7980364: (2000px, 0px, -2000px, 0px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-7980364', );
$icon-7982814-name: 'icon-7982814';
$icon-7982814-x: 2000px;
$icon-7982814-y: 200px;
$icon-7982814-offset-x: -2000px;
$icon-7982814-offset-y: -200px;
$icon-7982814-width: 200px;
$icon-7982814-height: 200px;
$icon-7982814-total-width: 2200px;
$icon-7982814-total-height: 2200px;
$icon-7982814-image: 'client/assets/images/sprite.png';
$icon-7982814: (2000px, 200px, -2000px, -200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-7982814', );
$icon-7983709-name: 'icon-7983709';
$icon-7983709-x: 2000px;
$icon-7983709-y: 400px;
$icon-7983709-offset-x: -2000px;
$icon-7983709-offset-y: -400px;
$icon-7983709-width: 200px;
$icon-7983709-height: 200px;
$icon-7983709-total-width: 2200px;
$icon-7983709-total-height: 2200px;
$icon-7983709-image: 'client/assets/images/sprite.png';
$icon-7983709: (2000px, 400px, -2000px, -400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-7983709', );
$icon-7987946-name: 'icon-7987946';
$icon-7987946-x: 2000px;
$icon-7987946-y: 600px;
$icon-7987946-offset-x: -2000px;
$icon-7987946-offset-y: -600px;
$icon-7987946-width: 200px;
$icon-7987946-height: 200px;
$icon-7987946-total-width: 2200px;
$icon-7987946-total-height: 2200px;
$icon-7987946-image: 'client/assets/images/sprite.png';
$icon-7987946: (2000px, 600px, -2000px, -600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-7987946', );
$icon-829178-name: 'icon-829178';
$icon-829178-x: 2000px;
$icon-829178-y: 800px;
$icon-829178-offset-x: -2000px;
$icon-829178-offset-y: -800px;
$icon-829178-width: 200px;
$icon-829178-height: 200px;
$icon-829178-total-width: 2200px;
$icon-829178-total-height: 2200px;
$icon-829178-image: 'client/assets/images/sprite.png';
$icon-829178: (2000px, 800px, -2000px, -800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-829178', );
$icon-831115-name: 'icon-831115';
$icon-831115-x: 2000px;
$icon-831115-y: 1000px;
$icon-831115-offset-x: -2000px;
$icon-831115-offset-y: -1000px;
$icon-831115-width: 200px;
$icon-831115-height: 200px;
$icon-831115-total-width: 2200px;
$icon-831115-total-height: 2200px;
$icon-831115-image: 'client/assets/images/sprite.png';
$icon-831115: (2000px, 1000px, -2000px, -1000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-831115', );
$icon-831204-name: 'icon-831204';
$icon-831204-x: 2000px;
$icon-831204-y: 1200px;
$icon-831204-offset-x: -2000px;
$icon-831204-offset-y: -1200px;
$icon-831204-width: 200px;
$icon-831204-height: 200px;
$icon-831204-total-width: 2200px;
$icon-831204-total-height: 2200px;
$icon-831204-image: 'client/assets/images/sprite.png';
$icon-831204: (2000px, 1200px, -2000px, -1200px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-831204', );
$icon-831206-name: 'icon-831206';
$icon-831206-x: 2000px;
$icon-831206-y: 1400px;
$icon-831206-offset-x: -2000px;
$icon-831206-offset-y: -1400px;
$icon-831206-width: 200px;
$icon-831206-height: 200px;
$icon-831206-total-width: 2200px;
$icon-831206-total-height: 2200px;
$icon-831206-image: 'client/assets/images/sprite.png';
$icon-831206: (2000px, 1400px, -2000px, -1400px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-831206', );
$icon-831353-name: 'icon-831353';
$icon-831353-x: 2000px;
$icon-831353-y: 1600px;
$icon-831353-offset-x: -2000px;
$icon-831353-offset-y: -1600px;
$icon-831353-width: 200px;
$icon-831353-height: 200px;
$icon-831353-total-width: 2200px;
$icon-831353-total-height: 2200px;
$icon-831353-image: 'client/assets/images/sprite.png';
$icon-831353: (2000px, 1600px, -2000px, -1600px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-831353', );
$icon-831362-name: 'icon-831362';
$icon-831362-x: 2000px;
$icon-831362-y: 1800px;
$icon-831362-offset-x: -2000px;
$icon-831362-offset-y: -1800px;
$icon-831362-width: 200px;
$icon-831362-height: 200px;
$icon-831362-total-width: 2200px;
$icon-831362-total-height: 2200px;
$icon-831362-image: 'client/assets/images/sprite.png';
$icon-831362: (2000px, 1800px, -2000px, -1800px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-831362', );
$icon-834837-name: 'icon-834837';
$icon-834837-x: 0px;
$icon-834837-y: 2000px;
$icon-834837-offset-x: 0px;
$icon-834837-offset-y: -2000px;
$icon-834837-width: 200px;
$icon-834837-height: 200px;
$icon-834837-total-width: 2200px;
$icon-834837-total-height: 2200px;
$icon-834837-image: 'client/assets/images/sprite.png';
$icon-834837: (0px, 2000px, 0px, -2000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-834837', );
$icon-834841-name: 'icon-834841';
$icon-834841-x: 200px;
$icon-834841-y: 2000px;
$icon-834841-offset-x: -200px;
$icon-834841-offset-y: -2000px;
$icon-834841-width: 200px;
$icon-834841-height: 200px;
$icon-834841-total-width: 2200px;
$icon-834841-total-height: 2200px;
$icon-834841-image: 'client/assets/images/sprite.png';
$icon-834841: (200px, 2000px, -200px, -2000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-834841', );
$icon-834852-name: 'icon-834852';
$icon-834852-x: 400px;
$icon-834852-y: 2000px;
$icon-834852-offset-x: -400px;
$icon-834852-offset-y: -2000px;
$icon-834852-width: 200px;
$icon-834852-height: 200px;
$icon-834852-total-width: 2200px;
$icon-834852-total-height: 2200px;
$icon-834852-image: 'client/assets/images/sprite.png';
$icon-834852: (400px, 2000px, -400px, -2000px, 200px, 200px, 2200px, 2200px, 'client/assets/images/sprite.png', 'icon-834852', );
$spritesheet-width: 2200px;
$spritesheet-height: 2200px;
$spritesheet-image: 'client/assets/images/sprite.png';
$spritesheet-sprites: ($icon-1413261, $icon-1413271, $icon-2208, $icon-43018333, $icon-43036956, $icon-43048158, $icon-43058680, $icon-43065116, $icon-43065132, $icon-43066074, $icon-43066103, $icon-43066189, $icon-43066251, $icon-43066394, $icon-43066528, $icon-43076627, $icon-43076675, $icon-43076712, $icon-43076730, $icon-43076744, $icon-43077431, $icon-43079057, $icon-43092841, $icon-43092865, $icon-43093743, $icon-43106353, $icon-43106410, $icon-43106435, $icon-43106437, $icon-43106506, $icon-43106728, $icon-43106741, $icon-43106754, $icon-43126787, $icon-43127015, $icon-43127137, $icon-43127143, $icon-43156684, $icon-43156716, $icon-43156786, $icon-43156815, $icon-43156860, $icon-43156865, $icon-43156904, $icon-43156920, $icon-43157004, $icon-43157034, $icon-43157037, $icon-43157143, $icon-43157209, $icon-43157210, $icon-43157213, $icon-43157230, $icon-43157255, $icon-43157282, $icon-43157304, $icon-43157338, $icon-43157372, $icon-43157515, $icon-43204854, $icon-43204856, $icon-43204869, $icon-43204932, $icon-43205077, $icon-43269755, $icon-43269790, $icon-43320826, $icon-43320859, $icon-43320892, $icon-43320895, $icon-43320900, $icon-43320934, $icon-43320989, $icon-43385920, $icon-43385942, $icon-43385965, $icon-43385973, $icon-43386001, $icon-43386096, $icon-43386103, $icon-43386196, $icon-43386218, $icon-43386252, $icon-43386394, $icon-43386401, $icon-43386446, $icon-43386518, $icon-43386593, $icon-43386662, $icon-43386715, $icon-43386728, $icon-43388688, $icon-43411923, $icon-43457022, $icon-43457137, $icon-43460734, $icon-43611077, $icon-700206, $icon-700275, $icon-7980359, $icon-7980364, $icon-7982814, $icon-7983709, $icon-7987946, $icon-829178, $icon-831115, $icon-831204, $icon-831206, $icon-831353, $icon-831362, $icon-834837, $icon-834841, $icon-834852, );
$spritesheet: (2200px, 2200px, 'client/assets/images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
