@font-face {
  font-family: 'svg-icons';
  src: url('client/assets/fonts/svg-icons.eot?0c3a42a95057178df02eb5a7de46954a?#iefix') format('embedded-opentype'),
    url('client/assets/fonts/svg-icons.woff2?0c3a42a95057178df02eb5a7de46954a') format('woff2'),
    url('client/assets/fonts/svg-icons.woff?0c3a42a95057178df02eb5a7de46954a') format('woff');
}

.svg-icons {
  line-height: 1;
}

.svg-icons:before {
  font-family: svg-icons !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}

.svg-icons-logout:before {
  content: '\f101';
}
