@import 'config';

:host {
  .tabs {
    & {
      display: flex;
    }

    &__tab {
      & {
        color: $font-disable;
        cursor: pointer;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        flex-wrap: wrap;
      }

      &--active {
        color: $pubg-font-nav;
      }

      i {
        @include pubg-font(10, icon);
      }

      &__text {
        @include pubg-font(10, bold);
        padding: 0 10px;
        text-align: center;
        user-select: none;
      }
    }
  }
}
