@import 'config';

:host {
  & {
    z-index: 1;
    box-shadow: 0 0 11px 1px #00000030;
  }

  .nav-bar {
    & {
      padding: 5px;
      background: $def-background;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__person {
    }

    &__tabs {
    }

    &__logout {
      @include pubg-font(16, icon);
      color: $font-disable;
      width: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
