html body {
  dynamic-primeng-form {
    dynamic-primeng-form-control {
      .ng-dynamic-forms-input,
      .ng-dynamic-forms-checkbox {
        position: relative;
        padding: 10px 0;

        dynamic-primeng-input {
          & > div.ng-valid {
            position: relative;
            &:before {
              font-family: 'primeicons', serif;
              content: '\e909';
              color: $success;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
        .error-icon {
          font-family: 'primeicons', serif;
          color: $error;

          li {
            display: none;
          }

          &::after {
            font-weight: 900;
            content: '\e90b';
            position: absolute;
            display: block;
            right: 0;
            bottom: 15px;
            @include pubg-font(14, extra-bold);
          }
        }
      }

      .control-label {
        padding: 5px 0;
        color: $pubg-grey;
      }
    }
  }
}
