html body {
  .centerOverlayPanel {
    border: none;
  }

  .p-overlaypanel {
    margin-top: 30px;

    .p-overlaypanel-content {
      padding: 0;
    }

    &:before,
    &:after {
      display: none;
      border: none;
    }
  }

  .p-inputtext {
    color: $pubg-main;
    background: transparent;
    border: none;
    border-bottom: 1px solid $pubg-main;
    transition: border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 0;
    width: 100%;
    padding: 0 35px 0 10px;
    height: 25px;
    flex: 1;
    position: relative;
    &.ng-valid {
      border-bottom: 1px solid $success;
      color: $success;
    }

    &.ng-dirty {
      &.ng-invalid {
        border: none;
        border-bottom: 1px solid $error;
      }
    }

    &:enabled {
      &:hover {
        &:not(.p-state-error) &:not(.ng-valid) {
          box-shadow: none;
          border: none;
          border-bottom: 1px solid $pubg-main;
        }
      }
    }

    &:focus,
    &:focus {
      outline: none;
    }

    &:enabled:focus:not(.p-state-error) &:not(.ng-valid) {
      box-shadow: none;
      border-color: $pubg-main;
    }
  }

  p-checkbox {
    padding: 0 12px;

    .p-checkbox {
      width: 20px;
      height: 20px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

      .p-checkbox-box {
        border: 1px solid $pubg-main;
        background-color: $def-background;
        transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
        width: 17px;
        height: 16px;

        &.p-highlight {
          border-color: $pubg-main;
          background: $def-background;

          &:not(.p-disabled):hover {
            border-color: $pubg-main;
            background-color: $def-background;
            color: $pubg-main;
          }
        }

        .p-checkbox-icon {
          color: $pubg-main;
        }

        &:not(.p-disabled) {
          &:hover {
            border-color: $pubg-main;
          }

          &.p-focus {
            box-shadow: none;
            border-color: $pubg-main;
          }
        }
      }
    }

    .p-checkbox-label {
      color: $pubg-main;
      padding-left: 10px;
      cursor: pointer;

      &.p-label-disabled {
        opacity: 0.5;
      }
    }
  }

  .p-dropdown {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid $pubg-main;
    transition: border-color 0.2s, box-shadow 0.2s;

    &.p-state-disabled {
      opacity: 0.3;
    }

    &:not(.p-state-disabled).p-state-focus {
      box-shadow: none;
      border-color: $pubg-main;
    }

    &.p-state-disabled {
      .p-dropdown-label {
        &.p-placeholder {
          opacity: 0.5;
        }
      }
    }

    .p-dropdown-trigger {
      background-color: transparent;
      color: $pubg-main;
    }

    .p-dropdown-label-container {
      width: 100%;

      .p-dropdown-label {
        padding-left: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.p-placeholder {
          color: #99c8c9;
          @include pubg-font(16, bold);
        }
      }
    }
  }

  .p-dropdown-panel {
    border: 1px solid $pubg-main;
    background-color: $def-background;

    .p-dropdown-items {
      .p-dropdown-item {
        color: $def-fonts;

        &:not(.p-state-highlight):not(.p-state-disabled):hover {
          background-color: $pubg-main;
        }

        &.p-state-highlight {
          background-color: $pubg-main;
        }
      }
    }
  }

  .p-button {
    color: $def-background;
    background-color: $pubg-main;
    border: 1px solid $pubg-main;

    &:enabled {
      &:hover {
        color: $def-background;
        background-color: $pubg-main;
        border: 1px solid $pubg-main;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  // fullCalender
  .fc {
    .fc-day-grid-event {
      padding: 5px;
    }

    .fc-event {
      color: $def-background;
      border-color: $def-background;
      border-radius: $border-radius;
      @include pubg-font(12, regular);
    }

    td.fc-today {
      background-color: $pubg-dark-grey;
    }

    .fc-dragging {
      border-radius: $border-radius;
      padding: 5px 10px;
      color: $def-background;
      @include pubg-font(16, regular);
    }
  }

  //.fc-unthemed td.fc-today {
  //  background: #000000;
  //}
  //.fc-dayGrid-view .fc-body .fc-row {
  //  max-height: 142px;
  //}
  //.fc-view-container *, .fc-view-container :after, .fc-view-container {
  //  max-height: 850px;
  //}
}
