@import 'config';

:host {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  .admin {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__tabs {
      letter-spacing: 1px;
      @include pubg-font(25, regular);
      width: 100%;
    }

    &__container {
      flex: 1;
      overflow: hidden;
      width: 100%;
    }
  }
}
