$cubic-bezier: cubic-bezier(0.37, 0.01, 0.28, 0.98);

$def-fonts: #ffffff;
$def-background: #000000;
$pubg-main: #ffc107;
$pubg-grey: #99c8c9;
$error: #a80000;
$success: #6ab352;
$border-radios: 7px;
