:host {
  .tournament-builder {
    padding: 15px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;

    &__menu {
      max-width: 300px;
      width: 100%;
      height: 100%;
      padding: 15px;
    }

    &__calendar {
      flex: 1;
      overflow: auto;
      padding: 15px;

      p-fullCalendar {
        height: 100%;
      }
    }
  }
}
