@import 'config';

:host {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;

  .schedules {
    padding: 5px;
    overflow: auto;
    height: 100%;
    max-width: 900px;
    width: 100%;

    &__dates {
      padding: 15px 0;

      &__date {
        position: relative;
        display: flex;
        flex-direction: column;
        border: 3px solid;
        border-radius: $border-radius;
        padding: 5px;
        box-shadow: inset 0 0 10px -1px #000000;

        &__text,
        &__name {
          position: absolute;
          top: -10px;
          padding: 0 14px;
          background: $def-background;
          @include pubg-font(16, bold);
        }

        &__text {
          left: 5px;
        }

        &__name {
          right: 5px;
        }

        &__rooms {
          flex: 1;
          padding: 0 5px;
          display: flex;
          flex-direction: column;

          &__room {
            @include pubg-font(16, regular);
            text-shadow: -1px 0 3px $def-background, 0 1px 3px $def-background, 1px 0 3px $def-background,
              0 -1px 3px $def-background;
            padding: 10px 0;
          }
        }
      }
    }
  }
}
