<div class="pubg-loader">
  <div class="pubg-loader__Icon">
    <!--<p-progressSpinner strokeWidth="5"></p-progressSpinner>-->
    <div class="the-width">
      <div class="">
        <div class="four04">
          <h1>PUBG</h1>
          <div id="spy" name="spy" class="target-cont"><div class="ring"></div></div>
          <!-- 				<div class="target-cont">
            <div class="cover"></div>
            <div class="marks"></div>
          </div> -->
        </div>
        <h2>Please wait while loading...</h2>
      </div>
    </div>
  </div>
</div>
