@import 'helpers/reset';
@import 'styles/helpers/fonts';
@import 'config';
@import 'primNG-override';
@import 'dynamicForm-override';
@import 'styles/sprite';

@include sprites($spritesheet-sprites);

html,
body {
  font-size: 12px;
  direction: ltr;
  height: 100%;
  overflow: hidden;
  font-family: 'Assistant', sans-serif;
  background-color: $def-background;
  color: $def-fonts;
  position: relative;
}

* {
  & {
    box-sizing: border-box;
    outline: none;
    user-select: none;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-button {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    border: 2px solid $pubg-main;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  // side-menu-item when drugged
  .side-menu-item {
    color: $def-background;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    @include pubg-font(14, bold);
  }

  /* --------------------------------*/
}
