@import "config";

:host {
  & {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 340px;
  }

  .button-container {
    & {
      cursor: pointer;
      margin: 0 auto;
      width: 100%;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      text-align: center;
      padding: 8px;
      border-radius: $border-radios;
    }

    &__text {

    }

    &--prime {
      background-color: $pubg-main;
      color: $def-fonts;
    }

    &--secondary {
      background-color: $def-fonts;
      color: $def-background;
    }
  }
}



